// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.users-index{
  text-align:center;
  margin-bottom: 20px;
  width:20%;
  margin: auto ;
  margin-bottom: 15px;
  position: relative;
  box-shadow: 0px 2px 5px 0px grey;
}
.users-index img{
  width:40px;
  height:40px;
  border-radius: 20px;
  object-fit: cover;
  position: absolute;
  left :35px;
  top:5px;
}

.users-show{
  text-align:center;
}

.users-show img{
  object-fit: cover;
}
.signup-form{
  text-align: center;
  margin-top: 30px;
}

.signup-form p{
  margin-top:10px;
}

.signup-btn{
  background-color: rgb(197, 211, 9);
  color: #7f2300;
  border:solid 1px rgba(0, 0, 0, 0.034);
  margin-top: 50px;
  padding:1em 2em;
  font-size: 20px;
}

.users-show img{
  height:50px;
  width:50px;
  border-radius: 20px;
}

.login-form{
  text-align: center;
  margin-top: 30px;
}

.login-btn{
  background-color: rgb(175, 62, 58);
  color: #ffee00b4;
  border:solid 1px rgba(0, 0, 0, 0.034);
  margin-top: 50px;
  padding:1em 2em;
  font-size: 20px;
}

.login-link{
  text-align:center;
  margin-top: 40px;
}

.login-link p{
  margin-bottom: 10px;
}

.login-link span{
  text-decoration-line: underline;
}

.form-error{
  text-align: center;
}

.unique-user-index{
  text-align: center;
}