// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.users-index{
  text-align:center;
  margin-bottom: 20px;
  width:20%;
  margin: auto ;
  margin-bottom: 15px;
  position: relative;
  box-shadow: 0px 2px 5px 0px grey;
}
.users-index img{
  width:40px;
  height:40px;
  border-radius: 20px;
  object-fit: cover;
  position: absolute;
  left :35px;
  top:5px;
}

.users-show{
  text-align:center;
  margin-bottom: 15px;
}

.users-show img{
  object-fit: cover;
}

.users-show p{
  display: inline;
  background-color: lightblue;
  border: navy solid 1px;
  border-radius: 10px;
  padding:5px 5px;
}

.signup-form{
  text-align: center;
  margin-top: 30px;
}

.signup-form p{
  margin-top:10px;
}

.signup-btn{
  background-color: rgb(197, 211, 9);
  color: #7f2300;
  border:solid 1px rgba(0, 0, 0, 0.034);
  margin-top: 50px;
  padding:1em 2em;
  font-size: 20px;
  cursor: pointer;
}

.users-show img{
  height:50px;
  width:50px;
  border-radius: 20px;
}

.login-form{
  text-align: center;
  margin-top: 30px;
}

.login-btn{
  background-color: rgb(175, 62, 58);
  color: #ffee00b4;
  border:solid 1px rgba(0, 0, 0, 0.034);
  margin-top: 50px;
  padding:1em 2em;
  font-size: 20px;
  cursor: pointer;
}

.login-link{
  text-align:center;
  margin-top: 40px;
}

.login-link p{
  margin-bottom: 10px;
}

.login-link span{
  text-decoration-line: underline;
}

.form-error{
  text-align: center;
}

.unique-user-index{
  text-align: center;
}

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 460px;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid #a0e4eb;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

.tabs :checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}